@use 'sass:math';

@use '../tools/colors';
@use '../tools/variables';

.peers-list {
  &__flag {
    display: inline-flex;
    margin-right: math.div(variables.$spacing-unit * 1, 5);
    position: relative;
    width: 20px;
    justify-content: center;
    align-items: center;

    &__image {
      max-width: 100%;
      max-height: 100%;
    }

    &__text {
      position: absolute;
      visibility: hidden;
    }
  }

  &__encryption {
    .icon {
      fill: colors.$green;
      height: 12px;
      width: 12px;
    }
  }

  &__incoming {
    .icon {
      fill: colors.$green;
      height: 12px;
      width: 12px;
    }
  }
}
